body {
    background-image: url('background.bmp');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.title {
    text-align: center;
    color:#2528cc;
}
.launch {
    text-align: center;
    position: absolute;
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.launchbutton {
    transition-duration: 0.4s;
    background-color: #2528cc;
    font-size: 16px;
    padding: 15px 45px;
    border: none;
    border-radius: 12px;
}
.launchbutton:hover {
    background-color: #8889e7;
    border-radius: 4px;
}